/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    display: grid;
    grid-template-columns: 296px 1fr;
}

.logo {
    padding: 12px 8px;
}

.add-section {
    margin-top: 64px;
    margin-left: 16px;
}

.add-title {
    font-style: italic;
    margin-bottom: 24px;
}

.add-section input {
    margin-bottom: 12px;
}

.read-checkbox {
    margin-bottom: 16px;
}

.add-section input[type='text'],
.add-section input[type='number'] {
    height: 32px;
    width: 272px;
    font-size: 18px;
}

.main-container {
    display: grid;
    grid-template-rows: 64px 1fr;
    text-align: center;
}

.main-header {
    padding-top: 24px;
}

.main-cards-container > p {
    font-style: italic;
}